*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left-section {
    color: white;
    width: 30%;
    margin-left: 30px;
}

.right-section{
    color: white;
    width: 30%;
}

.center-section {
    margin-right: 50px;
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
}

.left-section h1,
.right-section h2{
    font-size: 4rem;
    line-height: 1;
}

.intro{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #b3b3b3;
}

.center-section img{
    width: 500px;
    max-width: 100%;
    z-index: 1;
}

.center-section::before{
    content: "";
    position: absolute;
    width: 550px;
    height: 550px;
    background: rgba(0,255,150,0.2);
    filter: blur(100px);
    border-radius: 50%;
    z-index: 0;
}

.avatar{
    transition: transform 0.1s linear;
    transform-style: preserve-3d;
    will-change: transform;
}

.hover-text{
    position: absolute;
    bottom: 360px;
    left: -190px;
    padding: 12px 18px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.06);
    border-radius: 14px;
    color: white;
    font-size: 0.9rem;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    pointer-events: none;
}

.center-section:hover .hover-text{
    opacity: 1;
    transform: translateY(0px);
}

.center-section .hover-text{
    font-size: 1.25rem;
}

body{
    cursor: none;
    overflow-x: hidden;
    min-height: 300vh;
}

.cursor{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(0,255,150,0.9);
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    mix-blend-mode: difference;
    box-shadow:
    0 0 15px rgba(0,255,150,0.7),
    0 0 35px rgba(0,255,150,0.5),
    0 0 60px rgba(0,255,150,0.3);
    transition:
    transform 0.15s ease;
}

.scene{
    background-color: #000000;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.about-content{
    position: absolute;
    right: 8%;
    width: 35%;
    color: white;
    opacity: 0;
    transform: translateX(100px);
}

.about-tag{
    color: #9d7bff;
    letter-spacing: 4px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.about-content h2{
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 25px;
}

.about-para{
    color: #b3b3b3;
    line-height: 1.8;
    font-size: 1.1rem;
}

html,
body{
    background: #000;
}

.about-content h2{
    font-size: 3.5rem;
}

.scene.about-active .center-section{
    pointer-events: none;
}

.tech-section{
    min-height: 100vh;
    background: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tech-header{
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.tech-title{
    color: white;
    font-size: 9rem;
    font-weight: bold;
    letter-spacing: 10px;
    transform-origin: center;
    opacity: 0;
}

.honeycomb-wrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 80px;
    opacity: 0;
}

.honeycomb-grid{
    width: 900px;
    position: relative;
    transform:
    rotateX(60deg)
    rotateZ(-45deg);
    transform-style: preserve-3d;
    top: -100px;
}

.hex{
    position: absolute;
    width: 140px;
    height: 160px;
    transform-style: preserve-3d;
    transition:
    transform 0.45s cubic-bezier(0.22,1,0.36,1),
    opacity 0.4s ease;
    pointer-events: auto;
}

.top{
    position: absolute;
    width: 140px;
    height: 160px;
    clip-path: polygon(
        25% 6%,
        75% 6%,
        100% 50%,
        75% 94%,
        25% 94%,
        0% 50%
    );
    background:
    linear-gradient(145deg,#262626,#0b0b0b);
    border: 1px solid rgba(255,255,255,0.06);
    transform:
    translateZ(40px);
    box-shadow:
    inset 0 0 15px rgba(255,255,255,0.03),
    0 10px 30px rgba(0,0,0,0.5);
}

.hex::before,
.hex::after{
    content: "";
    position: absolute;
    width: 140px;
    height: 160px;
    clip-path: polygon(
        25% 6%,
        75% 6%,
        100% 50%,
        75% 94%,
        25% 94%,
        0% 50%
    );
    background: #0a0a0a;
}

.hex::before{
    transform:
    translateZ(0px);
    filter: brightness(0.55);
}

.offset{
    margin-left: 80px;
}

.hex:hover{
    transform:
    translateY(-20px)
    translateZ(30px);
    box-shadow: 0 0 30px rgba(0,255,150,0.25);
    z-index: 100;
}

.hex.active{
    transform:
    translateY(-25px)
    translateZ(40px);
    z-index: 200;
}

.hex.active .color-logo{
    opacity: 1;
}

.hex.active .white-logo{
    opacity: 0;
}

.hex.dim{
    opacity: 0.18;
    filter: grayscale(1);
}

.hex1{
    top: -251px;
    left: 100px;
}

.hex2{
    top: -321px;
    left: 204px;
}

.hex3{
    top: -251px;
    left: 309px;
}

.hex4{
    top: -181px;
    left: 204px;
}

.hex5{
    top: -391px;
    left: 309px;
}

.hex6{
    top: -461px;
    left: 205px;
}

.hex7{
    top: -321px;
    left: 414px;
}

.hex8{
    top: -181px;
    left: 414px;
}

.hex9{
    top: -251px;
    left: 519px;
}

.hex10{
    top: -391px;
    left: 519px;
}

.hex11{
    top: -110.5px;
    left: 519px;
}

.hex12{
    top: -392px;
    left: 100px;
}

.hex13{
    top: -110.5px;
    left: 100px;
}

.hex14{
    top: -41px;
    left: 204px;
}

.hex15{
    top: -41px;
    left: 414px;
}

.hex16{
    top: -111px;
    left: 309px;
}

.hex17{
    top: -461px;
    left: 414px;
}

.hex18{
    top: 29px;
    left: 309px;
}

.logo{
    position: absolute;
    top: 33%;
    left: 29%;
    width: 64px;
    height: 64px;
    object-fit: contain;
    transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    filter 0.3s ease;
}

.hex:hover .top img{
    transform: scale(1.15);
    opacity: 1;
    filter:
    drop-shadow(0 0 12px rgba(0,255,150,0.5));
}

.white-logo{
    opacity: 1;
}

.color-logo{
    opacity: 0;
}

.hex:hover .white-logo{
    opacity: 0;
}

.hex:hover .color-logo{
    opacity: 1;
    filter:
    drop-shadow(0 0 15px rgba(255,255,255,0.15));
}

.hex:hover .logo{
    transform: scale(1.12);
}

.tech-right{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    position: relative;
    z-index: 20;
    top: -200px;
}

.category{
    color: rgba(255,255,255,0.28);
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 4px;
    cursor: pointer;
    transition:
    color 0.3s ease,
    transform 0.3s ease,
    opacity 0.3s ease,
    text-shadow 0.3s ease;
    width: fit-content;
}

.category:hover{
    color: #00ff96;
    transform: translateX(12px);
    text-shadow:
    0 0 10px rgba(0,255,150,0.5),
    0 0 20px rgba(0,255,150,0.25);
}

.tech-left{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}